ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f6f4e8;

}

li {
  float: left;
  border-right: 1px solid #bbb;
  border-left: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: #1d3124;
  font-family: "Arial Black", SansSerif;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

.nav-wrapper{
  margin-bottom:20px;
}
